@import 'tgColors.scss';

.task-card {
  z-index: 2;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 24px;
  color: $tg-text-color;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.15);

  transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.3s;

  &.swiping {
    transition: none;
  }

  &.answered {
    opacity: 0.5;
    pointer-events: none;
  }
}

.task-header {
  margin-bottom: 30px;

  .topic-difficulty {
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
    color: $tg-hint-color;
    margin-bottom: 10px;

    .is-correct {
      .correct {
        color: rgba(46, 204, 113, 0.4);
      }

      .incorrect {
        color: $tg-destructive-text-color;
      }
    }
  }

  h2 {
    font-size: 1.25rem;
    line-height: 1.4;
    margin-bottom: 10px;
  }

  .code-snippet {
    background-color: $tg-secondary-bg-color;
    color: $tg-hint-color;
    padding: 15px;
    border-radius: 8px;
    overflow-x: auto;
    font-family: monospace;
    font-size: 0.95rem;
  }
}

.options-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.option-btn {
  background: $tg-section-bg-color;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: $tg-text-color;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  padding: 16px;
  font-size: 1rem;
  text-align: left;
  transition: all 0.2s ease;

  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    padding: 8px;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.15);
    aspect-ratio: 1/1;
    height: 80%;
    width: auto;

    &.correct {
      background: rgba(46, 204, 113, 0.15);
      border-color: rgba(46, 204, 113, 0.4);
    }

    &.incorrect {
      background: rgba(231, 76, 60, 0.15);
      border-color: rgba(231, 76, 60, 0.4);
    }
  }
}
