@import 'tgColors.scss';

.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: calc(60px + var(--tg-safe-area-inset-bottom, 0px));
  padding-bottom: var(--tg-safe-area-inset-bottom, 0px);
  background-color: $tg-secondary-bg-color;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(16px);
  justify-content: center;
  margin-bottom: 20px;

  /* Фиксируем внизу, как было в первом варианте */
  position: fixed;
  bottom: 0;
  z-index: 1000;

  .footer {
    padding-top: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    height: 52px;
    width: 80%;
    border-radius: 20px;
    background: $tg-section-bg-color;
    display: flex;
    justify-content: space-around;

    .nav-item {
      box-sizing: border-box;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-decoration: none;

      /* По умолчанию цвет текста и иконки неактивный */
      color: $tg-accent-text-color;
      transition: all 0.2s ease;
      flex: 1;

      .icon {
        font-size: 20px;
        transition: transform 0.2s ease;
      }

      p {
        margin: 0; // Сбрасываем стандартные отступы тега <p>
        color: inherit; // Наследуем цвет, чтобы он менялся при active
        font-size: 1.1cap;
        font-weight: 500;
      }

      /* Анимация и смена цвета при активном роуте */
      &.active {
        color: $tg-button-color;
        transform: translateY(-2px);

        .icon {
          transform: scale(1.1);
        }
      }
    }
  }
}
