<div class="profile-container">
  @if (user()) {
    <div class="user-info">
      <img [src]="user().photo_url" alt="Avatar" class="avatar">
      <h2>{{ user().first_name }} {{ user().last_name }}</h2>
      <p class="username" *ngIf="user().username">@{{ user().username }}</p>
    </div>

    <div class="stats-card">
      <h3>Ваш прогресс</h3>

      <div class="stats-grid">
        <div class="stat-item">
          <span class="value">{{ stats()!.totalAnswers }}</span>
          <span class="label">Решено заданий</span>
        </div>
        <div class="stat-item">
          <span class="value">{{ stats()!.correctAnswers }}</span>
          <span class="label">Из них правильно</span>
        </div>
        <div class="stat-item">
          <span class="value">{{ (stats()!.accuracy * 100) | number:'1.0-1' }}%</span>
          <span class="label">% выполнения</span>
        </div>
      </div>
    </div>

    <div class="history">
      @for (item of history(); track item) {
        <app-history [data]="item"></app-history>
      }
    </div>
  } @else {
    <div class="loading">
      <p>Loading stats...</p>
    </div>
  }

</div>
